<div class="login">
    <div class="form-container">
        <img src="./assets/cochecito-de-bebe.png" alt="logo" class="logo">

        <form>
            <div class="form-container">
                <h1 class="title">Crear nueva contraseña</h1>
                <p class="subtitle">Ingresa una nueva contraseña para tu cuenta</p>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                    <label for="floatingPassword">Ingresa tu nueva contraseña</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                    <label for="floatingPassword">Confirma tu nueva contraseña</label>
                </div>
                <button type="submit" class="btn btn-outline-info" (click)="goLogin()">Confirmar</button>
            </div>
        </form>
    </div>
</div>