<app-nav></app-nav>
<div class="login">
    <div *ngIf="!loading" class="form-container">
        <img src="./assets/logo.png" alt="logo" class="logo">

        <form [formGroup]="recuperarUser" (ngSubmit)="recuperar()">
            <div class="form-container">
                <h1 style="text-align: center;">Recuperar</h1>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" formControlName="email" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                    <span *ngIf="recuperarUser.get('email')?.hasError('required') && recuperarUser.get('email')?.touched"
                        class="text-danger error-label">
                        El <strong>correo </strong> es requerido
                    </span>
                    <span *ngIf="recuperarUser.get('email')?.hasError('email') && recuperarUser.get('email')?.touched"
                        class="text-danger error-label">
                        El <strong>correo </strong> es invalido
                    </span>
                </div>
                <button type="submit" [disabled]="recuperarUser.invalid" class="btn btn-outline-info">Recuperar</button>
            </div>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>