:root {
    --very-light-pink: #C7C7C7;
    --white: #FFFFFF;
    --black: #000000;
    --text-input-field: #F7F7F7;
    --pink: #FFC2F5;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --title: 30px;
}

.login {
    width: 100%;
    margin-top: 100px;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
    justify-self: center;
    display: none;
}

.title {
    font-size: var(--title);
    margin-bottom: 0px;
    text-align: center;
}

p {
    color: var(--black);
    font-size: var(--sm);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 36px;
}

.btn{
    width: 100%;
}
@media (max-width: 640px) {
    .login{
        margin-top: 0;
    }
    .logo {
        display: block;
    }
}