<div class="container" style="margin-top: 20px;">
    <div class="row cards-container">
        <div class="col-sm-8">
            <div class="card">
                <h1>title</h1>
                <div class=" g-col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis porro
                    consequuntur
                    ducimus atque
                    deleniti, exercitationem quis? Accusantium id, asperiores nostrum consequatur harum porro, saepe,
                    repellat
                    aliquam voluptatum ex maxime molestias!
                </div>
                <br>
                <div class="g-col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis porro
                    consequuntur
                    ducimus atque
                    deleniti, exercitationem quis? Accusantium id, asperiores nostrum consequatur harum porro, saepe,
                    repellat
                    aliquam voluptatum ex maxime molestias!
                </div>
                <br>
                <div class="g-col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis porro
                    consequuntur
                    ducimus atque
                    deleniti, exercitationem quis? Accusantium id, asperiores nostrum consequatur harum porro, saepe,
                    repellat
                    aliquam voluptatum ex maxime molestias!
                </div>
                <br>
                <div class="g-col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis porro
                    consequuntur
                    ducimus atque
                    deleniti, exercitationem quis? Accusantium id, asperiores nostrum consequatur harum porro, saepe,
                    repellat
                    aliquam voluptatum ex maxime molestias!
                </div>
                <br>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
               <!-- <iframe height="310" src="https://www.youtube.com/embed/WnSc36dsALM" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>-->
                <div class="card-body">
                    <h5 class="card-title">title</h5>
                    <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y
                        componer la mayor parte del contenido de la tarjeta.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>