<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>title</h1>
            <div class="g-col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis porro consequuntur
                ducimus atque
                deleniti, exercitationem quis? Accusantium id, asperiores nostrum consequatur harum porro, saepe,
                repellat
                aliquam voluptatum ex maxime molestias!
            </div>
            <br>
            <div class="g-col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis porro consequuntur
                ducimus atque
                deleniti, exercitationem quis? Accusantium id, asperiores nostrum consequatur harum porro, saepe,
                repellat
                aliquam voluptatum ex maxime molestias!
            </div>
            <br>
            <div class="g-col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis porro consequuntur
                ducimus atque
                deleniti, exercitationem quis? Accusantium id, asperiores nostrum consequatur harum porro, saepe,
                repellat
                aliquam voluptatum ex maxime molestias!
            </div>
            <br>
            <div class="g-col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis porro consequuntur
                ducimus atque
                deleniti, exercitationem quis? Accusantium id, asperiores nostrum consequatur harum porro, saepe,
                repellat
                aliquam voluptatum ex maxime molestias!
            </div>
            <br>
        </div>
        <div class="col-sm-4">video</div>
    </div>
</div>