<div class="login">
    <div class="form-container">
        <img src="./assets/cochecito-de-bebe.png" alt="logo" class="logo">

        <h1 class="title">Solicita tu servicio de niñer@</h1>
        <p></p>

        <form>
            <div class="form-container">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Nombre</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="datetime-local" class="form-control" id="floatingInput">
                    <label for="floatingInput">Fecha y hora inicial</label>    
                </div>

                <div class="form-floating mb-3">
                    <input type="datetime-local" class="form-control" id="floatingInput">
                    <label for="floatingInput">Fecha y hora final</label>    
                </div>

                <button type="submit" class="btn btn-outline-info" (click)="pedirServicio()">Solicitar</button>
            </div>
        </form>
    </div>

</div>