<app-nav></app-nav>
<div class="login">
  <div *ngIf="!loading" class="form-container">
    <img src="./assets/logo.png" alt="logo" class="logo">
    <form (ngSubmit)="login()" [formGroup]="loginUsuario">
      <div class="form-container">
        <h1 style="text-align: center;">Inicia Sesión</h1>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" autocomplete="false" formControlName="email" id="floatingInput"
            placeholder="name@example.com">
          <label for="floatingInput">Email</label>
          <span *ngIf="loginUsuario.get('email')?.hasError('required') && loginUsuario.get('email')?.touched"
            class="text-danger error-label">
            El <strong>correo </strong> es requerido
          </span>
          <span *ngIf="loginUsuario.get('email')?.hasError('email') && loginUsuario.get('email')?.touched"
            class="text-danger error-label">
            El <strong>correo </strong> es invalido
          </span>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" formControlName="password" id="floatingPassword"
            placeholder="Contraseña">
          <label for="floatingPassword">Contraseña</label>
          <span
            *ngIf="loginUsuario.get('password')?.hasError('required') && loginUsuario.get('password')?.touched"
            class="text-danger error-label">
            La <strong>contraseña </strong> es requerida
          </span>
        </div>
        <button type="submit" class="btn btn-outline-info" [disabled]="loginUsuario.invalid">Iniciar Sesión</button>
        <p class="mt-3">¿No tienes cuenta?
          <a (click)="goRegister()" data-replace="Crear Cuenta" class="a">
            <span>Crear Cuenta</span>
          </a>
        </p>
        <a (click)="goForgotPass()" data-replace="Recuperar Contraseña" class="a">
          <span>Recuperar Contraseña</span>
        </a>
      </div>
      <div class="row mt-2">
        <a (click)="signInWithGoogle()" style="text-decoration: none;cursor: pointer;">
            <div class="card shadow text-center">
                <div class="card-body">
                    <img src="./assets/icons8-google-48.png" alt="" height="24px" width="24px"> Sign In with Google
                </div>
            </div>
        </a>
    </div>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>