.container {
    margin-top: 40px;
}

.cards-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}

.card {
    margin-bottom: 10px;
    background: #3f474f;
    color: white;
}

.product-card {
    width: 240px;
}

.btn{
    color: white;
}