<app-nav></app-nav>
<div class="container">
    <div class="cards-container">
        <div class="card product-card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Título de la tarjeta</h5>
                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer
                    la mayor parte del contenido de la tarjeta.</p>
                <a *ngIf="isLoggedIn=='true'" (click)="pedirServicio()" class="btn btn-primary">Solicitar servicio</a>
            </div>
        </div>
        <div class="card product-card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Título de la tarjeta</h5>
                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer
                    la mayor parte del contenido de la tarjeta.</p>
                <a *ngIf="isLoggedIn=='true'" class="btn btn-primary" disabled>Proximamente</a>
            </div>
        </div>
        <div class="card product-card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Título de la tarjeta</h5>
                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer
                    la mayor parte del contenido de la tarjeta.</p>
                <a *ngIf="isLoggedIn=='true'" class="btn btn-primary" disabled>Proximamente</a>
            </div>
        </div>
        <div class="card product-card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Título de la tarjeta</h5>
                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer
                    la mayor parte del contenido de la tarjeta.</p>
                <a *ngIf="isLoggedIn=='true'" class="btn btn-primary" disabled>Proximamente</a>
            </div>
        </div>
</div>