<app-nav></app-nav>
<div class="container">
    <div class="cards-container">
        <div class="card product-card">
            <img src="./assets/care.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Servicios de educación y cuidado</h5>
                <p class="card-text">Prestamos servicios de educación y cuidado infantil de manera temporal en donde una
                    asistente de nuestro equipo se desplaza al hogar para acompañar a los niños durante el
                    tiempo que designes.</p>
                <a *ngIf="isLoggedIn=='true'" (click)="pedirServicio()" class="btn btn-info">Solicitar servicio</a>
            </div>
        </div>
        <div class="card product-card">
            <img src="./assets/patio-de-recreo.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Servicio de recreación infantil</h5>
                <p class="card-text">Ofrecemos servicios de recreación dirigida, realizados por las diferentes personas
                    de nuestro equipo, para fiestas o eventos.</p>
                <a *ngIf="isLoggedIn=='true'" class="btn btn-secondary" disabled>Proximamente</a>
            </div>
        </div>
        <div class="card product-card">
            <img src="./assets/operador.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Asesorías</h5>
                <br>
                <p class="card-text">Brindamos asesoramiento a los padres sobre cómo seleccionar la niñera adecuada para
                    sus hijos, incluyendo la evaluación de habilidades, experiencia y referencias, así como la
                    realización de entrevistas y verificaciones de antecedentes.</p>
                <a *ngIf="isLoggedIn=='true'" class="btn btn-secondary" disabled>Proximamente</a>
            </div>
        </div>
        <div class="card product-card">
            <img src="./assets/nino.svg" class="card-img-top" alt="..." height="238px">
            <div class="card-body">
                <h5 class="card-title">Capacitaciones en cuidado infantil</h5>
                <p class="card-text">Ofrecemos cursos de cuidado infantil, que buscan capacitar de manera breve y
                    precisa al personal con el cuidado de los niños en temas de vital importancia en el
                    cuidado infantil.</p>
                <a *ngIf="isLoggedIn=='true'" class="btn btn-secondary" disabled>Proximamente</a>
            </div>
        </div>
    </div>