<app-nav></app-nav>
<div class="container">
    <div class="cards-container">
        <div class="card product-card">
            <img src="../../../assets/care.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Servicios de educación y cuidado</h5>
                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer
                    la mayor parte del contenido de la tarjeta.</p>
                <a *ngIf="isLoggedIn=='true'" (click)="pedirServicio()" class="btn btn-info">Solicitar servicio</a>
            </div>
        </div>
        <div class="card product-card">
            <img src="../../../assets/patio-de-recreo.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Servicio de recreación infantil</h5>
                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer
                    la mayor parte del contenido de la tarjeta.</p>
                <a *ngIf="isLoggedIn=='true'" class="btn btn-secondary" disabled>Proximamente</a>
            </div>
        </div>
        <div class="card product-card">
            <img src="../../../assets/operador.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Asesorías</h5>
                <br>
                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer
                    la mayor parte del contenido de la tarjeta.</p>
                <a *ngIf="isLoggedIn=='true'" class="btn btn-secondary" disabled>Proximamente</a>
            </div>
        </div>
        <div class="card product-card">
            <img src="../../../assets/nino.png" class="card-img-top" alt="..." height="238px">
            <div class="card-body">
                <h5 class="card-title">Capacitaciones en cuidado infantil</h5>
                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer
                    la mayor parte del contenido de la tarjeta.</p>
                <a *ngIf="isLoggedIn=='true'" class="btn btn-secondary" disabled>Proximamente</a>
            </div>
        </div>
    </div>